$dark: darkred;
$primary: black;
$color-purple-nova: #857c85;
$headings-color: darkblue;
$font-family-base: "Open Sans", sans-serif;
@import "../node_modules/bootstrap/scss/bootstrap";


h2 {
	color: darkblue;
}

.footer {
	margin-top: 6em;
	position: relative;
	overflow: visible;
}

.footer__eu {
	margin: 2em 0;
	padding-top: 1em;
	@include media-breakpoint-up(md) {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}
	img {
		width: 213px;
		height: 47px;
		margin-bottom: 1em;
		@include media-breakpoint-up(md) {
			margin-right: 1em;
			margin-bottom: 0;
		}
	}
	p {
		font-size: 0.75em;
		letter-spacing: 0.5px;
		margin-top: -3px;
		max-width: 55em;
	}
}

.logo-list {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.logo-list img {
    display: inline-block;
    max-width: 85%;
    padding: 15px 0;
    transition: all 0.3s ease-in-out;
}

.logo-list img:hover {
    filter: none;
    transform: scale(1.2);
    -webkit-filter: none;
    -moz-filter: none;
}


