/logs/*
.DS_Store
node_modules/
/src/content/*
/src/vendor
/src/kirby
/src/site/plugins/k3-trevor-view
/src/site/plugins/kirby-color
/src/site/plugins/k3-image-clip
/src/site/controllers/helpers/DBConnect.php
/src/site/controllers/helpers/S3ClientConfig.php