/logs/*
.DS_Store
node_modules/
/src/content/*
/src/vendor
/src/kirby
/src/site/plugins/k3-trevor-view
/src/site/plugins/kirby-color
/src/site/plugins/k3-image-clip
/src/site/controllers/helpers/DBConnect.php
/src/site/controllers/helpers/S3ClientConfig.php
/src/site/config/dbconfig.php

/src/site/languages/de.php
/src/site/languages/lv.php
/src/site/languages/nl.php
/src/site/languages/ro.php
/src/site/languages/hu.php

/src/site/accounts

